.superContainer {
  position: absolute;
  background-image: linear-gradient(
    to top,
    #928f91,
    #9b999b,
    #a5a3a5,
    #aeadb0,
    #b8b7ba,
    #c1c0c3,
    #cacacc,
    #d3d3d5,
    #dededf,
    #e9e9ea,
    #f4f4f4,
    #ffffff
  );
  padding: 15px;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin: 10px;
  padding-left: 25px;
}

header {
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding: 15px;
  margin: 20px;
  color: black;
  background-image: linear-gradient(
    to bottom,
    #675760,
    #736872,
    #807983,
    #8e8a94,
    #9c9ca5,
    #a5a8b0,
    #afb4bb,
    #bac0c6,
    #c1c9ce,
    #c9d3d6,
    #d1dcdd,
    #dae5e4
  );
  border-radius: 25px;
}

@media screen and (max-width: 900px) {
  .MainContainer {
    display: block;
    margin: 20px auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
  }

  header {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 25px;
    margin-right: 25px;
  }
}

.VerticalBar {
  position: relative;
  background-image: linear-gradient(
    to right,
    #66f8f8,
    #68fce6,
    #79fecf,
    #93feb5,
    #b1fd9a,
    #c2fb92,
    #d2f98c,
    #e1f687,
    #e4f591,
    #e7f49b,
    #eaf3a5,
    #ecf2af
  );
  border-radius: 25px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px;
  -webkit-box-shadow: -19px 20px 34px 2px rgba(129, 235, 187, 1);
  -moz-box-shadow: -19px 20px 34px 2px rgba(129, 235, 187, 1);
  box-shadow: -19px 20px 34px 2px rgba(129, 235, 187, 1);
}

.HorizontalBar {
  background-image: linear-gradient(
    to right,
    #66f8f8,
    #68fce6,
    #79fecf,
    #93feb5,
    #b1fd9a,
    #c2fb92,
    #d2f98c,
    #e1f687,
    #e4f591,
    #e7f49b,
    #eaf3a5,
    #ecf2af
  );
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  -webkit-box-shadow: -19px 20px 34px 2px rgba(129, 235, 187, 1);
  -moz-box-shadow: -19px 20px 34px 2px rgba(129, 235, 187, 1);
  box-shadow: -19px 20px 34px 2px rgba(129, 235, 187, 1);
}

.recharts-cartesian-axis-tick {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap");

.table-chart {
  margin-left: 30px;
  margin-right: 30px;
  padding: 60px;
}

.boo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
  font-weight: bold;
  border-radius: 25px;
}

.ul {
  display: flex;
  justify-content: space-around;

  font-family: "Yanone Kaffeesatz", sans-serif;
}

.li {
  list-style: none;
  background-image: linear-gradient(
    to right,
    #928f91,
    #9b999b,
    #a5a3a5,
    #aeadb0,
    #b8b7ba,
    #c1c0c3,
    #cacacc,
    #d3d3d5,
    #dededf,
    #e9e9ea,
    #f4f4f4,
    #ffffff
  );
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
}
